<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the website</title>
    <link rel="stylesheet" 
    href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
<div class="loader">
    <div class="earth"></div>
    <div class="loader-text">Loading...</div>
</div>
<main class="content">
    <section class="info">
        <h1>About BhoomiMaps</h1>
        <p>We are a team focused on building innovative solutions that help communities address local challenges. Our mission is to connect people with the data they need to make informed decisions about their surroundings. Critical information on issues like infrastructure breakdowns, safety concerns, and natural disasters is often hard to access. We aim to change that by creating a web app that centralizes this data for easy exploration.</p>
        <p>Our platform is an interactive map-based tool where users can search for locations and view a history of issues. By categorizing problems and providing real-time updates, we offer a resource for tracking and responding to community concerns. Whether it's road repairs or natural disasters, our goal is to promote transparency, encourage proactive solutions, and keep communities informed.</p>
        <p>By simplifying access to local data, we aim to foster safer and more responsive communities.</p>
        <button class="go-back-btn" onclick="window.history.back();">Go Back Home</button>
    </section>
</main>
<script>
    window.addEventListener('load', function() {
        setTimeout(function() {
            document.querySelector('.loader').style.display = 'none';
        }, 3000);});
</script>
</body>