<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BhoomiMap</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/landing.css">
</head>
<body>
    <div class="loader">
        <div class="earth"></div>
        <div class="loader-text">Loading...</div>
    </div>
    <nav>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <main>
        <div class="content">
            <h1>Bhoomi <span>map</span></h1>
            <p class="tagline">Mapping Earth, Connecting Worlds</p>
            <button class="get-started"><a href="/map" target="_blank">Get Started</button></a>
        </div>
        <img class="landing_img" src="../static/Images/landingpage/landingpage.png" alt="Bhoomi">
    </main>
    <script>
        window.addEventListener('load', function() {
            setTimeout(function() {
                document.querySelector('.loader').style.display = 'none';
            }, 3000);
        });
    </script>
</body>
</html>