<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_11c3cca03ceb1eae3e4b4849d3202af7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_11c3cca03ceb1eae3e4b4849d3202af7" ></div>
        
</body>
<script>
    
    
            var map_11c3cca03ceb1eae3e4b4849d3202af7 = L.map(
                "map_11c3cca03ceb1eae3e4b4849d3202af7",
                {
                    center: [37.7749, -122.4194],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c2e4228b3d1f5f71c7423a622d594d61 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_c2e4228b3d1f5f71c7423a622d594d61.addTo(map_11c3cca03ceb1eae3e4b4849d3202af7);
        
    
            var marker_d1f748d23a9b7e3c49e08407f0af43fc = L.marker(
                [37.8199, -122.4783],
                {}
            ).addTo(map_11c3cca03ceb1eae3e4b4849d3202af7);
        
    
        var popup_424cd94baa6047dc56544203249eec41 = L.popup({"maxWidth": "100%"});

        
            
                var html_7c670f3cc94e8a857ed0aeb19e7eb0a7 = $(`<div id="html_7c670f3cc94e8a857ed0aeb19e7eb0a7" style="width: 100.0%; height: 100.0%;">Golden Gate Bridge</div>`)[0];
                popup_424cd94baa6047dc56544203249eec41.setContent(html_7c670f3cc94e8a857ed0aeb19e7eb0a7);
            
        

        marker_d1f748d23a9b7e3c49e08407f0af43fc.bindPopup(popup_424cd94baa6047dc56544203249eec41)
        ;

        
    
    
            var marker_e9fed887406c1a043a1e21b4ffcb0964 = L.marker(
                [37.8024, -122.4058],
                {}
            ).addTo(map_11c3cca03ceb1eae3e4b4849d3202af7);
        
    
        var popup_251f594beff7daa9a727a834fb645f05 = L.popup({"maxWidth": "100%"});

        
            
                var html_9b2751d6c66b22736fe9be6ec63c509c = $(`<div id="html_9b2751d6c66b22736fe9be6ec63c509c" style="width: 100.0%; height: 100.0%;">Coit Tower</div>`)[0];
                popup_251f594beff7daa9a727a834fb645f05.setContent(html_9b2751d6c66b22736fe9be6ec63c509c);
            
        

        marker_e9fed887406c1a043a1e21b4ffcb0964.bindPopup(popup_251f594beff7daa9a727a834fb645f05)
        ;

        
    
    
            var marker_46f99a5dd1746e4986f46bacac806eb7 = L.marker(
                [37.8021, -122.4187],
                {}
            ).addTo(map_11c3cca03ceb1eae3e4b4849d3202af7);
        
    
        var popup_d604e58a41dc1e8d36727ab5bb7c56ea = L.popup({"maxWidth": "100%"});

        
            
                var html_2366e73545f24dd1f13fd946e251645a = $(`<div id="html_2366e73545f24dd1f13fd946e251645a" style="width: 100.0%; height: 100.0%;">Lombard Street</div>`)[0];
                popup_d604e58a41dc1e8d36727ab5bb7c56ea.setContent(html_2366e73545f24dd1f13fd946e251645a);
            
        

        marker_46f99a5dd1746e4986f46bacac806eb7.bindPopup(popup_d604e58a41dc1e8d36727ab5bb7c56ea)
        ;

        
    
    
            var marker_8cbe49c2ed8176879860006ffbf5e919 = L.marker(
                [37.808, -122.4177],
                {}
            ).addTo(map_11c3cca03ceb1eae3e4b4849d3202af7);
        
    
        var popup_269f3f291a6463f96be71b57d8118ffa = L.popup({"maxWidth": "100%"});

        
            
                var html_c02ae300b9de4edfa40101d59c5931ac = $(`<div id="html_c02ae300b9de4edfa40101d59c5931ac" style="width: 100.0%; height: 100.0%;">Fisherman's Wharf</div>`)[0];
                popup_269f3f291a6463f96be71b57d8118ffa.setContent(html_c02ae300b9de4edfa40101d59c5931ac);
            
        

        marker_8cbe49c2ed8176879860006ffbf5e919.bindPopup(popup_269f3f291a6463f96be71b57d8118ffa)
        ;

        
    
</script>
</html>