*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    display: flex;
    align-items: center;
}
h1{
    margin-right: 50px;
    margin-left: -100px;
}
#span1{
    color: blue;
}

#span2{
    color: rgb(94, 93, 93);
}
img{
    margin-top: 10px;
    margin-right: 10px;
}