body {
    background-color: #fcd8a8;
}
.landing_img {
    float: right;
    margin-right: 10;/* Ensure no margin on the right */
    display: block;/* Ensures it's treated as a block element */
    max-width: 400px;/* To keep it responsive */
}

body {
    font-family: 'Rubik Distressed', sans-serif;
}

h1{
    font-family: 'Rubik Distressed', sans-serif;
    /* Apply to headings */
    color: #144444;
}
span{
    color: #ac9b82;
}
.getstarted{
    background-color: #268e1e;
    color: white;
}